.cv-download {
  display: flex;
  flex-direction: row;
  gap: var(--padding-xl);
  padding: var(--padding-l);
  color: var(--color-text-primary);
  background-color: var(--color-primary);
  font-family: "Jersey 10";
  line-height: 0.7;
  font-size: var(--font-3xl);
  fill: var(--color-text-primary);
  justify-content: center;
  text-decoration: none;
}

.cv-download:hover {
  background-color: var(--color-accent);
  color: var(--color-background);
  fill: var(--color-background);
}

.open-icon {
  width: var(--sizing-3xl);
  height: auto;
}

@media (min-width: 768px) {
  .cv-download {
    margin-left: var(--sizing-5xl);
    margin-right: var(--sizing-5xl);
  }
}

@media (min-width: 2000px) {
  .cv-download {
    max-width: 1280px;
    margin: var(--padding-none) auto var(--padding-none) auto;
  }
}
