.hero {
  display: flex;
  flex-direction: column;
  padding: var(--padding-m) var(--padding-m) var(--padding-none)
    var(--padding-m);
  height: calc(100svh - 90px);
  gap: var(--padding-s);
}

/* --- HERO TEXT --- */

.hero-text {
  width: 100%;
}

.hero-text {
  color: var(--color-text-primary);
}

.hero-text-engineering {
  display: flex;
  flex-direction: row;
}

.svg-engin {
  fill: var(--color-text-primary);
}

.svg-eering {
  fill: var(--color-text-primary);
}

.hero-text-meets-design {
}

.svg-meets {
  fill: var(--color-text-primary);
}

.svg-design {
  fill: var(--color-text-primary);
}

.hero-text-exceeding-full-stack {
}

.svg-exceeding-full-stack {
  fill: var(--color-accent);
}

/* --- HERO CHARACTER --- */

.hero-character-container {
  flex-grow: 1;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 3;
  z-index: 1;
}

.hero-character {
  width: auto;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.hero-text svg,
.hero-text-right svg {
  width: 100%;
  height: auto;
  fill: currentColor;
}

/* Tablet & Desktop Styles */
@media (min-width: 768px) {
  .hero {
    height: calc(100vh - 80px);
  }
}
