.hero {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-m) var(--padding-m) 0;
  position: relative;
  overflow-x: hidden;
  height: calc(100vh - 90px);
  gap: var(--padding-xs);
}

.hero-character-container {
  flex-grow: 1;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 3;
  z-index: 1;
}

.hero-character {
  width: auto;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.hero-text-left,
.hero-text-right {
  flex: 0;
  text-align: center;
  z-index: 1;
  width: 100%;
}

.hero-text-left {
  order: 1;
  color: var(--color-text-primary);
}

.hero-text-right {
  order: 2;
  color: var(--color-accent);
}

.hero-text-left svg,
.hero-text-right svg {
  width: 100%;
  height: auto;
  fill: currentColor;
}

/* Tablet & Desktop Styles */
@media (min-width: 768px) {
  .hero {
    height: calc(100vh - 80px);
  }
}
