.button-column {
  display: flex;
  flex-direction: column;

  margin-top: var(--padding-2xl);
}

.button {
  display: flex;
  flex-direction: column;
  gap: var(--padding-xl);
  padding: var(--padding-xl);
  color: var(--color-text-primary);
  background-color: var(--color-primary);
  font-family: "Jersey 10";
  line-height: 0.7;
  font-size: var(--font-3xl);
  fill: var(--color-text-primary);
  justify-content: center;
  text-decoration: none;
  margin-left: var(--padding-2xl);
  margin-right: var(--padding-2xl);
  margin-bottom: var(--padding-2xl);
}

.button:hover {
  background-color: var(--color-accent);
  color: var(--color-background);
  fill: var(--color-background);
}

.icon {
  width: var(--sizing-4xl);
  height: auto;
}

@media (min-width: 768px) {
  .button-column {
    gap: var(--padding-l);
  }

  .button {
    flex-direction: row;
    margin-left: var(--sizing-5xl);
    margin-right: var(--sizing-5xl);
    margin-bottom: var(--padding-none);
  }

  .icon {
    width: var(--sizing-3xl);
  }
}

@media (min-width: 2000px) {
  .button {
    width: 100%;
    max-width: 1280px;
    margin: var(--padding-none) auto var(--padding-none) auto;
  }
}
