.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--padding-4xl);
  gap: var(--padding-l);
  border: 2px solid var(--color-text-primary);
  padding: var(--padding-2xl);
}

.about-title {
  font-family: "Jersey 10";
  color: var(--color-accent);
  font-size: var(--font-3xl);
  line-height: 0.6;
}

.about-paragraph {
  font-family: "Jersey 10";
  color: var(--color-text-primary);
  font-size: var(--font-m);
  text-align: justify;
  line-height: 1;
}

@media (min-width: 768px) {
  .about {
    flex-direction: row;
    align-items: start;
    justify-content: center;
    margin: var(--sizing-5xl);
    gap: var(--padding-3xl);
  }

  .about-title {
    font-size: var(--font-3xl);
    line-height: 0.7;
  }

  .about-paragraph {
    max-width: var(--sizing-8xl);
  }
}
